body {
  font-family: "Lefont-family: 'Lexend Deca', sans-serif;xend Deca", sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 150px auto 10px;
  padding: 40px;
  border: 1px solid grey;
  border-radius: 10px;
}

h1 {
  margin-top: 15px;
  font-size: 50px;
  font-weight: 10px;
  margin-bottom: 0;
}
h2 {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 0;
}

.weather-info {
  text-align: right;
}

.temperature {
  font-size: 60px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 150px auto;
}
.icon {
  float: left;
  width: 100px;
}
.units {
  position: relative;
  top: -30px;
}
.description:first-letter {
  text-transform: capitalize;
}

.search-result {
  margin-top: 25px;
}
.weather-extra-info,
.extra-info {
  color: rgb(93, 97, 100);
}

a {
  text-decoration: none;
}

.active {
  cursor: default;
  color: black;
}
.active:hover {
  text-decoration: none;
  color: black;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.date-forecast {
  font-size: 16px;
  color: rgb(67, 70, 72);
  border-radius: 10px;
}

.forecast-temp {
  font-size: 13px;
}

.min-temp {
  color: rgb(107, 114, 119);
}
